#include <windows.h>

#include <wvresource.h>

//1 24 "winview.manifest"

WVLOGO ICON "winview.ico"
WVMENU MENU {
	POPUP "&About", HELP {
		MENUITEM "&Version", IDM_ABOUT_VERSION
	}
}

WVVERSION DIALOG 0, 0, 300, 150
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Version Information" {
}
WVVERSIONBMP BITMAP "version.bmp"
