#include <windows.h>

#include <wvresource.h>

//1 24 "winview.manifest"

WVLOGO ICON "image/winview.ico"
WVMENU MENU {
	POPUP "&File" {
		MENUITEM "&Quit", IDM_FILE_QUIT
	}
	POPUP "&View" {
		MENUITEM "&Re-Aspect", IDM_VIEW_REASPECT
	}

	POPUP "&About", HELP {
		MENUITEM "&Credits", IDM_ABOUT_CREDITS
		MENUITEM "&Version", IDM_ABOUT_VERSION
	}
}

WVCREDITS DIALOG 10, 10, 0, 0
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Credits" {
}

WVVERSION DIALOG 10, 10, 0, 0
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Version Information" {
}
WVVERSIONBMP BITMAP "image/version.bmp"

WVFAILED BITMAP "image/failed.bmp"
